@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

body {
  margin: auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Raleway', sans-serif;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

ul {
  z-index: 0;
  position: relative;
  top: -1rem;
  margin: 0;
  padding: 0 1rem;
}

.item {
  height: 9rem;
}

.text {
  position: relative;
  left: 5rem;
}
